body {
    font-family: 'Baskerville';
    margin: 0;
    padding: 0;
}

#_next {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: 50% 30%;
    height: auto;
    width: 100%;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    height: 87px;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    align-items: center;
}

.inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto 25px;
}

.logo {
    float: left;
    padding-top: 20px;
}

.logo a {
    position: relative;
    text-decoration: none;
}

.logo img {
    border: none;
    width: 190px;
    height: auto;
    display: block;
}

.gnb {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    line-height: 75px;
    list-style-type: none;
}

.gnb li {
    float: left;
    margin-left: 45px;
}

.nav-link {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Baskerville';
    color: #fff;
    text-decoration: none;
}

.auditorium-title {
    padding: 225px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    color: white;
}

.auditorium-section {
    background-color: #D4BA50;
    height: auto;
    width: 100%;
    padding: 80px 0px;
}

.auditorium-grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.auditorium-details {
    margin: 0px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.auditorium-details h1 {
    font-size: 55px;
    color: white;
    font-weight: 400;
    margin: 20px 0px;
}

.auditorium-details p {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 35px;
}

.explore-section {
    background-color: #D4BA50;
    height: auto;
    width: 100%;
    padding: 80px 0px;
}

.explore-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
}

.column {
    background-color: white;
    padding: 0px 0px 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.column-explore-img {
    height: 200px;
    overflow: hidden;
}

.column-explore-img img {
    height: auto;
    width: 110%;
    display: block;
    margin: 0 auto;
}

.column-explore-details {
    margin: 5px 30px;
    text-align: center;
}

.column-explore-details h2 {
    padding-top: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #D4BA50;
}

.column-explore-details p {
    text-align: justify;
    color: #3d3c3c;
    font-size: 18px;
    margin: 3px auto;
}

.column-explore-details button {
    background-color: #D4BA50;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    width: 60%;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

.footer {
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
