body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

#_next {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: 50% 30%;
    height: auto;
    width: 100%;
}

#header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;
    height: 87px;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    display: flex;
    align-items: center;
}

.inner {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto 25px;
}

.logo {
    float: left;
    padding-top: 20px;
}

.logo a {
    position: relative;
    text-decoration: none;
}

.logo img {
    border: none;
    width: 190px;
    height: auto;
    display: block;
}

.gnb {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    line-height: 75px;
    list-style-type: none;
}

.gnb li {
    float: left;
    margin-left: 45px;
}

.nav-link {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Inter';
    color: #fff;
    text-decoration: none;
}

.faq-title {
    padding: 225px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    color: white;
    font-family: 'Baskerville';
}

.faq-section {
    background-color: #D4BA50;
    height: auto;
    width: 100%;
    padding: 80px 0px;
}

.faq-grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.faq-details {
    margin: 0px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.faq-details h1 {
    font-size: 55px;
    color: white;
    font-weight: 400;
    margin: 20px 0px;
}

.faq-details p {
    font-size: 20px;
    margin-bottom: -200px;
    font-style: normal;
    text-align: center;
    font-family: 'Baskerville';
}

.faqs-detail-section {
    background-color: #D4BA50;
    height: auto;
    width: 100%;
    padding: 40px 0px;
}

.faqs-dropdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

.dropbtn {
    background-color: white;
    color: #D4BA50;
    border-radius: 20px;
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 120px;
    font-family: 'Baskerville';
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #f1e5b7;
    color: black;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    font-family: 'Baskerville';
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.footer {
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }